.yii2-date-picker {
    position: relative;
}
.yii2-date-picker input {
    padding-right: 30px;
}
.yii2-date-picker span {
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 33px;
    border: 1px solid #ccc;
    padding: 8px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
    font-size: 18px;
    padding-top: 13px;
}
.yii2-date-picker span:before {
    content: "\f073";
}
body .ui-widget-content {
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    font-size: 14px;
    width: 220px;
}
body .ui-widget-header {
    background: inherit;
    border: none;
}
body .ui-state-default, body .ui-widget-content .ui-state-default, body .ui-widget-header .ui-state-default {
    background: inherit;
    border: none;
    padding: 6px 0;
    text-align: center;
    width: 28px;
}
body .ui-datepicker th {
    padding: 12px 0;
}
body .ui-state-hover.ui-state-default {
    background: #EEEEEE;
    border-radius: 6px !important;
}
body .ui-state-active.ui-state-default {
    background: #3276B1;
    border-radius: 6px !important;
    color: white;
}
body .ui-datepicker-title {
    font-size: 12px;
}
body .ui-datepicker-next.ui-datepicker-next-hover {
    border: none;
    background: transparent;
    cursor: pointer;
}
body .ui-datepicker-next.ui-datepicker-next-hover span {
    margin-left: -9px;
    margin-top: -7px;
}
body .ui-datepicker-prev.ui-datepicker-prev-hover {
    border: none;
    background: transparent;
    cursor: pointer;
}
body .ui-datepicker-prev.ui-datepicker-prev-hover span {
    margin-left: -7px;
    margin-top: -7px;
}
